.code_background{
position: relative;
width: 100%;
height: 100%;

}
#main:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.about_me{
    position : absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;;
}
#text_languages{
    display: contents;
}
#main .check-work{
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 1rem;
}

body{
    background-color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    margin: 0;
}
#main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
#main span{
    display: inline-block;
    padding: 2%;
    background-color: cadetblue;

}
#main img{
    align-self: center;
}
#main a, main :hover{
    color: white;
}
.whatsapp{
    position: sticky;
    top: 50%;
    z-index: 5;
}
.whatsapp a{    
    position: absolute;
    right: 2%;
    color: rgb(165, 223, 78);
}
h2{
    color: white;
    position: relative;
    border: 1.875rem;
}
h1{
    color: white;
    position: relative;
    border: 3.75rem;
 }
 h6{
    color: white;
    position: relative;
    border: 3.75rem;
 }
 header{
     background-color:black;
     position: sticky;
     top: 0;
     z-index: 5;
}
.navstyle a:hover{
    background-color: rgb(218, 215, 214);
}
.navstyle{
    display: flex;
    justify-content: space-around;
}
.navstyle a{
    color: white;
    margin: 0 auto;
    font-size: 1.4rem;
}
#protfolio{
    border-bottom:1px solid #f1f1f1;;
    background: #eeecec;
    text-align: center;
    padding: 3.5em 0;
}
.protfolio_page{
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
}
.protfolio_title{
    font-size: 1.5em;
}
#protfolio h2{
    font-size: 2.5em;
    color: black;
    letter-spacing: 4px;
    font-weight: bold;
    margin-bottom: 0.625em;
    text-transform: uppercase;
}
#protfolio p{
    padding: 0;
    color:#706f6f;
    font-size: 1.37em;
    line-height: 1.5em;
}
#myproducts{
    color:rgb(8, 8, 8);
    text-align: center;
    background-color: whitesmoke;
}
.product{
    display: flex;
    justify-content: space-between;
    gap: 2%;
    margin: 2% 0%;
    flex-direction: column;
    margin: 0 auto;
    width: 94%;
}
#myproducts h2{
    font-family: 'Playfair Display', serif;;
    font-size: 2.17em;
    color: black;
}
#myproducts .product hr{
    background-color: #c5c5c5;
    width: 9%;
    height: 0.0625em;
    border: none;
    margin-left: 47%;
    margin-bottom: 1.5625em;
}
#myproducts p{
    font-family: 'Playfair Display', serif;;
    font-size: 0.9em;
    line-height: 1.5em;
}
#myproducts .button_learn_more{
    color: #d24d57;
    border-color: #d24d57;
    margin: 1.85em 0 0 10%;
    width: 80%;
}
.productimg{
    width: 15rem;
    height: 15rem;
}
footer{
    background-color: purple;
    text-align: center;
}
fieldset{
    border: none;
}
#text{
    width: 15.625rem;
    height: 12.5rem;
}

@media only screen and (min-width: 1024px){
    #main{
        flex-direction: row;
    }
    .about_me{
        font-size: 3rem;
    }
    body{
        font-size: 20px;
    }
    .product{
        flex-direction: row;
    }
}
