body{
    background-color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    margin: 0;
}
#main{
    background-color: purple;
    padding:1rem;  
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#main span{
    display: inline-block;
    padding: 2%;
    background-color: cadetblue;

}
#main img{
    align-self: center;
}
#main a, main :hover{
    color: white;
}
.whatsapp{
    position: sticky;
    top: 50%;
    z-index: 5;
}
.whatsapp a{    
    position: absolute;
    right: 2%;
    color: rgb(165, 223, 78);
}
h2{
    color: white;
    position: relative;
    border: 1.875rem;
}
h1{
    color: white;
    position: relative;
    border: 3.75rem;
 }
 header{
     background-color:black;
     position: sticky;
     top: 0;
     z-index: 5;
}
.navstyle a:hover{
    background-color: rgb(218, 215, 214);
}
.navstyle{
    display: flex;
    justify-content: space-around;
}
.navstyle a{
    color: white;
    margin: 0 auto;
    font-size: 1.4rem;
}
#myproducts{
    color: white;
    padding:1rem;
}
.product{
    display: flex;
    justify-content: space-between;
    gap: 2%;
    margin: 2% 0%;
    flex-direction: column;
}
.productimg{
    width: 15rem;
    height: 15rem;
}
footer{
    background-color: purple;
    text-align: center;
}
fieldset{
    border: none;
}
#text{
    width: 15.625rem;
    height: 12.5rem;
}

@media only screen and (min-width: 1024px){
    #main{
        background-color: rgb(168, 132, 168);
        flex-direction: row;
    }
    body{
        font-size: 20px;
    }
    .product{
        flex-direction: row;
    }
}
